 body {
     font-family: Arial;
     text-align: center;
}
 form {
     margin: 0 auto;
     max-width: 17em;
}
 fieldset {
     background-color: #f0f5f5;
     border-color: #a3c2c2;
     border-width: .1em;
     border-style: solid;
     border-radius: 2em;
     padding: 1.5em;
     margin-bottom: 1.5em;
     width: 0;
}
 legend {
     background-color: #d1e0e0;
     border-width: .2em;
     border-style: solid;
     border-radius: 2em;
     font-size: 1.5em;
     padding: .25em;
     text-align: center;
}
 label {
     display: table-cell;
     text-align: left;
}
 input, select {
     border-width: .05em;
/*     box-sizing: content-box;*/
     height: 10%;
     margin-bottom: 1em;
     padding: .5em;
     width: 15em;
}
 input:focus, select:focus {
     background-color: #F9FBE7;
}
 input[type=submit] {
     background-color: #ddd ;
     cursor: pointer;
     text-align: center;
}
 input[type=submit]:hover {
     background-color: #d1e0e0;
}
 button {
     background-color: #85adad;
     border-radius: .3em;
     display: inline-block;
     padding: .5em;
}
